%h2 
  = gravatar_for @user
  = @user.name

- unless @user.microposts.empty?
  %table{ :class => "microposts", :summary => "Сообщения пользователя" }
    = render @microposts
  = will_paginate @microposts