- if object.errors.any?
  #error_explanation
    %h3
      = pluralize(object.errors.count, "error")
      возникло при попытке сохранения #{ object.class.to_s.underscore.humanize.downcase }!:
    %p Следующие поля заполненны не верно:
    %ul
      - object.errors.full_messages.each do |msg|
        %li #{msg}
