h1, h2, h3, h4, h5, h6 {
  color: #36678d;
  text-align: left;
}

h1,h2 {
  font: italic 30px Arial;
  font-weight: bold;
  letter-spacing: -2px;
}

img {
  border: 0px;
}

a {
  color: #005698;
}

ul.users {
	margin-top: 1em;
  padding-left: 0px;
  li {
    list-style: none;
  }
}