$logo_right: 25px;
$auth_left: 10px;
@mixin marpad {
  margin: 0px;
  padding: 0px;
}
@mixin radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
}

.field, .actions {
  margin-bottom: 10px;
}

.field_with_errors {
  @include marpad;
  padding: 1px;
  display: table;

  label {
    color: red;
  }

  input {
    border-color: red;
  }
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h3 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
  }

  ul {
    margin-top: 3px;
    margin-bottom: 3px;
    li {
      font-size: 12px;
      list-style: square;
    }
  }
}

/* Аутентификация */
.auth {
  @include radius(10px);
  background: #175787 url('fon_auth.jpg') top right no-repeat;
  position: absolute;
  right: $logo_right;
  top: 225px;
  width: 181px;
  height: 144px;

  p {
    @include marpad;
    font: bold 12px Arial;
    color: #fff;
    margin-left: $auth_left;
    margin-top: $auth_left;
    line-height: 0.90;
    text-shadow: #000 1px 1px 0;

    span {
      font: 900 13px Arial;
    }

    a {
      color: #fff;
    }

  }
  img {
    position: absolute;
    right: $auth_left;
    top: 6px;
  }

  form {
    @include marpad;
    /* margin: 10px 0px 0px; */
    position: absolute;
    bottom: 10px;
    right: 10px;
    .field {
      @include marpad;
      margin-bottom: 5px;
      text-align: right;
      input {
        @include radius(3px);
        border: 3px solid;
        width: 145px;
        height: 23px;
        border-color: #5b92bc;
        padding: 0 5px;
        color: #335e80;
      }
    }
    .actions {
      text-align: right;
      @include marpad;
      input {
        @include marpad;
        background: transparent url('button.png') center center no-repeat;
        border: none;
        width: 80px;
        height: 22px;
        font: bold 11px Arial;
        color: #485d6d;
        text-shadow: #fff 1px 1px 0;
      }
    }
  }
}

/* Microposts */
#micropost_content {
  height: 60px;
}