$width_basic: 990px;
$color_back: #fff;
$border: 0px;

body {
  margin: 0px;
  padding: 0px;
}

#page {
  border: $border solid;
  min-width: $width_basic;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background: $color_back url('background.jpg') top center no-repeat;
}

header {
  border: $border solid;
  height: 422px;
  width: $width_basic;
  margin: 0 auto;
  position: relative;
  display: block;
  text-align: left;
}

section {
  border: $border solid;
  position: relative;
  width: $width_basic;
  margin: 0 auto;
  text-align: left;
  display: block;
  #left {
    float: left;
    width: 200px;
    border: $border solid;
  }
  #center {
    float: left;
    width: 760px;
    margin-left: 20px;
    border: $border solid;
  }
}

footer {
  border: $border solid;
  position: relative;
  min-width: $width_basic;
  width: 100%;
  margin: 0 auto;
  height: 240px;
  clear: both;
  background: $color_back url('footer.jpg') bottom center no-repeat;
  display: block;
  text-align: center;
}

