%header
  .title 
    %h1 
      Ирбитский политехникум
      %span
    %p Государственное бюджетное образовательное учреждение среднего профессионального образования Свердловской области
  = image_tag("logo.png", :alt => "Логотип Ирбитского политехникума", :class => "logo")