%header
  .title 
    %h1 
      = link_to "Ирбитский политехникум", root_path
    %p 
      = link_to "Государственное бюджетное образовательное учреждение среднего профессионального образования Свердловской области", root_path
  - logo = image_tag("logo.png", :alt => "Логотип Ирбитского политехникума", :class => "logo")
  = link_to logo, root_path